<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<style>
	#div{
	
	}
</style>
<script>
	function check(){
		window.open("idCheck.jsp","_blank","width=500,height=200");
	}
	function back(){
		history.go(-1);
	}
</script>
<div id="div">
<fieldset style="width:800px; height:600px;">
	<legend align="center">회원가입</legend>
	<form action="joinus.jsp" method="post">
	<pre>
	ID:	<input type="text" name="userId" id="userId" />	<button type="button" onclick="check();">ID중복검사</button><br>
	PW:	<input type="password" name="userPwd" /><br>
	PW_re:	<input type="password" name="userPwd_re" /><br>
	NAME:	<input type="text" name="userName" /><br>
	AGE:	<input type="text" name="userAge" /><br>
	ADDR:	<input type="text" name="userAddr" /><br>
		<input type="submit" value="회원가입">	<button type="button" onclick="back();">돌아가기</button>
	</pre>
	</form>
</fieldset>
</div>

</body>
</html>